@import '../../styles/variables.module.scss';


.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-width:60px;

    margin: 1rem 0;
    padding: .5rem;
    background-color:#F3F4F6;
    border-radius: 20px;

    color:#6A6A6A;
    font-weight: 500;

    cursor: pointer;

}
.tagsActive {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-width:60px;

    margin: 1rem 0;
    padding: .5rem;
    background-color:$colorPrimaryBold ;
    border-radius: 20px;

    color: white;

    box-shadow: 1px 10px 12px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}