@import "../styles/variables.module.scss";

.containerBanner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;

}
.containerTags {
  display: flex;
  gap:.5rem;
  width: 100%;
  height: auto;

  margin:  3rem 0;
}

.burgerWrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 100%;

  gap: 1rem;

  padding: 0 1rem;

  margin-top: 1rem;

  

  h2 {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    color:$burgerFont;
  }
}

.banner {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 100%;
  margin: 0 auto ;
  z-index: -1;
  background-color: $colorPrimaryBold;

  img {
      width: 50%;
      height: auto;

      max-width: 400px;

  }
  
  span {
      width: 50%;
      font-weight: bold;

      color: $burgerFont;
      line-height: 2rem;
      font-size: 1.5rem;
  }
}
  



